services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=db_ubs_gestao'
      - 'POSTGRES_PASSWORD=root'
      - 'POSTGRES_USER=root'
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql
